boto3==1.9.41
Django==2.1.3
django-extensions==2.1.3
django-filter==2.0.0
django-livefield==3.1.0
django-minio-storage==0.2.2
django-model-utils==3.1.2
django-nose==1.4.6
django-storages==1.7.1
djangorestframework==3.8.2
gunicorn==19.9.0
line-bot-sdk==1.8.0
newrelic==4.4.1.104
psycopg2-binary==2.7.5
python-dotenv==0.9.1
